
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="avatar avatar-icon avatar-lg avatar-blue">
                            <i class="anticon anticon-user"></i>
                        </div>
                        <div class="m-l-15">
                            <h2 class="m-b-0">@ViewBag.TotalStudent</h2>
                            <p class="m-b-0 text-muted">Học Sinh</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="avatar avatar-icon avatar-lg avatar-cyan">
                            <i class="anticon anticon-team"></i>
                        </div>
                        <div class="m-l-15">
                            <h2 class="m-b-0">@ViewBag.TotalTeacher</h2>
                            <p class="m-b-0 text-muted">Giáo Viên</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="media align-items-center">
                        <div class="avatar avatar-icon avatar-lg avatar-gold">
                            <i class="anticon anticon-profile"></i>
                        </div>
                        <div class="m-l-15">
                            <h2 class="m-b-0">@ViewBag.TotalClass</h2>
                            <p class="m-b-0 text-muted">Lớp</p>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    @if (TempData["SweetAlertMessage"] != null)
    {
        <text>
        Swal.fire({
            title: '@TempData["SweetAlertMessage"]',
            icon: '@TempData["SweetAlertType"]',
            showConfirmButton: false,
            timer: 2000
        });
        </text>
    }
</script>