﻿@model IEnumerable<QLPhoThong.Models.HOCSINH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<script>
    $(function () {
        $('.datepicker-input').datepicker();
    });
</script>
<h2>Index</h2>


<button data-toggle="modal" data-target="#ThemHocSinh" data-url="@Url.Action("Create","HocSinh")" class="form-control">Thêm mới Học sinh</button>
@Html.Partial("Create", new QLPhoThong.Models.HOCSINH())

    @using (Html.BeginForm("UploadExcel", "HocSinh", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="file">Chọn file Excel:</label>
        <input type="file" name="file" id="file" />
        <input type="submit" value="Import" class="btn btn-default" />
    </div>
}
<a href="@Url.Action("DownloadFile", "HocSinh")">Tải xuống file</a>

<table class="table">
    <tr>
        <th>
            STT
        </th>
        <th>
            Mã Học Sinh
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenHS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thumb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOP.TenLop)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanToc.TenDanToc)
        </th>
        <th>
            #
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        i++;
        <tr>
            <td>
                @i
            </td>
            <td>
                @item.MaHS
            </td>
            <td>
                @item.HoVaTenDem @item.TenHS
            </td>
            <td>
                @string.Format("{0:dd-MM-yyyy}", item.NgaySinh)
            </td>
            <td>
                @item.DiaChi
            </td>
            <td>
                @item.SDT
            </td>
            <td>
                @item.GioiTinh
            </td>
            <td>
                @item.TrangThai
            </td>
            <td>
                <img src="~/Areas/Admin/Images/ImagesStudent/@item.Thumb" width="80px" height="50px" />
            </td>

            <td>
                @item.LOP.TenLop
            </td>
            <td>
                @item.DanToc.TenDanToc
            </td>
            <td>
                <button data-toggle="modal" data-target="@("#Edit-"+item.MaHS)" data-url="@Url.Action("Edit","HocSinh", new {id = item.MaHS})" class="form-control">Thay đổi học sinh</button>
                @Html.Partial("Edit", item) |
                @Html.ActionLink("Details", "Details", new { id = item.MaHS }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaHS })
            </td>
        </tr>
    }

</table>