@model IEnumerable<QLPhoThong.Models.DIEM>
@{
    ViewBag.Title = "Danh sách học sinh phụ trách dạy";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int i = 0;
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@{ var user = Session["User"] as QLPhoThong.Models.User;
}
@if (Model.Any())
{

    <div class="card" style="margin-top: 75px;">
        <div class="card-body">
            <div style="text-align: center;">
                <h4>Danh sách học sinh lớp : <b>@Model.FirstOrDefault().HOCSINH.LOP.TenLop</b></h4>
                <h4>Môn học : <b>@Model.FirstOrDefault().MONHOC.TenMH</b></h4>
            </div>
            <h4>Lớp này có tổng : <b>@ViewBag.TongHocSinh</b> học sinh</h4>
            <div class="m-t-25">

                @using (Html.BeginForm("DanhSachHocSinhPhuTrachDay", "Lop", FormMethod.Get, new { id = "myForm" }))
                {

                    <div class="row">
                        <div class="col-md-2">
                            <h4>Chọn học kỳ :</h4>
                        </div>
                        <div style="margin-left: -70px; margin-bottom: 20px; margin-top: -5px; ">
                            @Html.DropDownList("hocky", ViewBag.hocky as SelectList, new { @class = "form-control", onchange = "this.form.submit();" })
                        </div>
                    </div>

                    if (!string.IsNullOrEmpty(Request.QueryString["idlop"]))
                    {
                        <input type="hidden" name="idlop" value="@Request.QueryString["idlop"]" />
                    }

                    if (!string.IsNullOrEmpty(Request.QueryString["idmh"]))
                    {
                        <input type="hidden" name="idmh" value="@Request.QueryString["idmh"]" />
                    }
                }
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="text-align:center;">
                                <th scope="col">STT</th>
                                <th scope="col">Tên học sinh</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Điểm miệng</th>
                                <th scope="col">Điểm 15 phút</th>
                                <th scope="col">Điểm 1 tiết</th>
                                <th scope="col">Điểm thi</th>
                                <th scope="col">Điểm TBM</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <th scope="row">#@i</th>
                                    <td>@item.HOCSINH.HoVaTenDem @item.HOCSINH.TenHS</td>
                                    <td>@item.HOCSINH.GioiTinh</td>
                                    @Html.Action("NhapDiem", "QuanLyDiem", new { id = item.MaBD })
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a href="@Url.Action("Index","Lop", new {id = user.MaGV})">Xem danh sách học sinh</a>
            </div>
        </div>
    </div>


}
else
{
    <div class="card" style="margin-top: 75px;">
        <div class="card-body">
            <div style="text-align: center;">
            </div>
            <div class="m-t-25">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">LỚP NÀY HIỆN TẠI CHƯA CÓ HỌC SINH</th>

                            </tr>
                        </thead>


                    </table>
                </div>
                <a href="@Url.Action("Index","Lop", new {id = user.MaGV})">Quay lại danh sách học sinh</a>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $('#hocky').change(function () {
            var selectedValue = $(this).val();
            var idlop = "@Request.QueryString["idlop"]";
            var idmh = "@Request.QueryString["idmh"]";
            var newUrl = '@Url.Action("DanhSachHocSinhPhuTrachDay", "Lop", new { hocky = "REPLACEME", idlop = "REPLACEME_IDLOP", idmh = "REPLACEME_IDMH" })'
                .replace("REPLACEME", selectedValue)
                .replace("REPLACEME_IDLOP", idlop)
                .replace("REPLACEME_IDMH", idmh);
            window.location.href = newUrl;
        });
    });

</script>
