@model IEnumerable<QLPhoThong.Models.DIEM>
@{
    ViewBag.Title = "Danh sách học sinh phụ trách dạy";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int i = 0;
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
@{ var user = Session["User"] as QLPhoThong.Models.User;
}
@if (Model.Any())
{

    <div class="card" style="margin-top: 75px;">
        <div class="card-body">
            <div style="text-align: center;">
                <h4>Danh sách học sinh lớp : <b>@Model.FirstOrDefault().HOCSINH.LOP.TenLop</b></h4>
                <h4>Môn học : <b>@Model.FirstOrDefault().MONHOC.TenMH</b></h4>
                <h4>Môn học : <b>@Model.FirstOrDefault().NAMHOC.TenNH</b></h4>
            </div>
            <h4>Lớp này có tổng : <b>@ViewBag.TongHocSinh</b> học sinh</h4>
            <div class="m-t-25">

                @using (Html.BeginForm("DanhSachHocSinhPhuTrachDay", "Lop", FormMethod.Get, new { id = "myForm" }))
                {

                    <div class="row">
                        <div class="col-md-2">
                            <h4>Chọn học kỳ :</h4>
                        </div>
                        <div style="margin-left: -70px; margin-bottom: 20px; margin-top: -5px; ">
                            @Html.DropDownList("hocky", ViewBag.hocky as SelectList, new { @class = "form-control", onchange = "this.form.submit();" })
                        </div>
                    </div>

                    if (!string.IsNullOrEmpty(Request.QueryString["idlop"]))
                    {
                        <input type="hidden" name="idlop" value="@Request.QueryString["idlop"]" />
                    }

                    if (!string.IsNullOrEmpty(Request.QueryString["idmh"]))
                    {
                        <input type="hidden" name="idmh" value="@Request.QueryString["idmh"]" />
                    }
                    if (!string.IsNullOrEmpty(Request.QueryString["manh"]))
                    {
                        <input type="hidden" name="manh" value="@Request.QueryString["manh"]" />
                    }
                }
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr style="text-align:center;">
                                <th scope="col">STT</th>
                                <th scope="col">Tên học sinh</th>
                                <th scope="col">Giới tính</th>
                                <th scope="col">Điểm miệng</th>
                                <th scope="col">Điểm 15 phút</th>
                                <th scope="col">Điểm 1 tiết</th>
                                <th scope="col">Điểm thi</th>
                                <th scope="col">Điểm TBM</th>
                                <th scope="col">Nhận xét</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <th scope="row">#@i</th>
                                    <td>@item.HOCSINH.HoVaTenDem @item.HOCSINH.TenHS</td>
                                    <td>@item.HOCSINH.GioiTinh</td>
                                    @using (Html.BeginForm("NhapDiem", "QuanLyDiem", FormMethod.Post, new { @class = "diemForm", id = "diemForm" + i }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="MaBD" value="@item.MaBD" />
                                        <input type="hidden" name="MaHS" value="@item.MaHS" />
                                        <input type="hidden" name="MaMH" value="@item.MaMH" />
                                        <input type="hidden" name="MaHK" value="@item.MaHK" />
                                        <input type="hidden" name="MaNH" value="@item.MaNH" />

                                        <td><input type="text" class="form-control" name="DiemMieng" value="@item.DiemMieng" placeholder="Nhập điểm ..." oninput="validateInput(this)"></td>
                                        <td><input type="text" class="form-control" name="Diem15p" value="@item.Diem15p" placeholder="Nhập điểm ..." oninput="validateInput(this)"></td>
                                        <td><input type="text" class="form-control" name="Diem1Tiet" value="@item.Diem1Tiet" placeholder="Nhập điểm ..." oninput="validateInput(this)"></td>
                                        <td><input type="text" class="form-control" name="DiemThi" value="@item.DiemThi" placeholder="Nhập điểm ..." oninput="validateInput(this)"></td>
                                        if (item.DiemTB < 5)
                                        {
                                            <th scope="row" style="text-align:center; color:red;">@String.Format("{0:N1}", item.DiemTB)</th>
                                        }
                                        else
                                        {
                                            <th scope="row" style="text-align:center;">@String.Format("{0:N1}", item.DiemTB)</th>
                                        }
                                        <td><input type="text" class="form-control" name="DanhGiaCuaGV" value="@item.DanhGiaCuaGV" placeholder="Nhập nhận xét ..."></td>
                                        <button type="button" class="btn btn-primary btnLuu" style="display: none;">Lưu</button>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <a href="@Url.Action("Index","Lop", new {id = user.MaGV})">Xem danh sách học sinh</a>
            </div>
        </div>
    </div>


}
else
{
    <div class="card" style="margin-top: 75px;">
        <div class="card-body">
            <div style="text-align: center;">
            </div>
            <div class="m-t-25">
                <div class="table-responsive">
                    <table class="table table-hover e-commerce-table">
                        <div class="alert alert-success" style="text-align:center">
                            <b>LỚP NÀY HIỆN TẠI CHƯA CÓ HỌC SINH</b>
                        </div>
                    </table>
                </div>
                <a href="@Url.Action("Index","Lop", new {id = user.MaGV})">Quay lại danh sách học sinh</a>
            </div>
        </div>
    </div>
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        $('#hocky').change(function () {
            var selectedValue = $(this).val();
            var idlop = "@Request.QueryString["idlop"]";
            var idmh = "@Request.QueryString["idmh"]";
            var manh = "@Request.QueryString["manh"]"
            var newUrl = '@Url.Action("DanhSachHocSinhPhuTrachDay", "Lop", new { hocky = "REPLACEME", idlop = "REPLACEME_IDLOP", idmh = "REPLACEME_IDMH" , manh = "REPLACEME_MANH" })'
                .replace("REPLACEME", selectedValue)
                .replace("REPLACEME_IDLOP", idlop)
                .replace("REPLACEME_IDMH", idmh)
                .replace("REPLACEME_MANH", manh)
            window.location.href = newUrl;
        });


    });

    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.diemForm').forEach(function (form) {
            form.addEventListener('keyup', function (e) {
                if (e.key === 'Enter') {
                    e.preventDefault();
                    form.querySelector('.btnLuu').click();
                }
            });
        });

        document.addEventListener('click', function (e) {
            var diemForms = document.querySelectorAll('.diemForm');
            diemForms.forEach(function (form) {
                if (!form.contains(e.target)) {
                    e.preventDefault();
                    saveData(form);
                }
            });
        });
    });

    function saveData(form) {
        $.ajax({
            url: $(form).attr('action'),
            type: 'POST',
            data: $(form).serialize(),
            success: function (data) {
                console.log('Dữ liệu đã được lưu thành công');
            },
            error: function (error) {
                console.error('Lỗi khi lưu dữ liệu:', error);
            }
        });
    }

    function validateInput(input) {
        var value = input.value;

        if (isNaN(value) || parseFloat(value) < 0 || parseFloat(value) > 10) {
            input.value = '';
        }
    }
</script>
