@model IEnumerable<QLPhoThong.Models.DIEM>
@{
    ViewBag.Title = "Danh sách học sinh phụ trách dạy";
    Layout = "~/Areas/Teacher/Views/Shared/_TeacherLayout.cshtml";
    int i = 0;
}

@{ var user = Session["User"] as QLPhoThong.Models.User;
}
@if (Model.Any())
{

    <div class="card" style="margin-top: 75px;">
        <div class="card-body">
            <div style="text-align: center;">
                <h4>Danh sách học sinh lớp : <b>@Model.FirstOrDefault().HOCSINH.LOP.TenLop</b></h4>
                <h4>Môn học : <b>@Model.FirstOrDefault().MONHOC.TenMH</b></h4>
            </div>
            <h4>Lớp này có tổng : <b>@ViewBag.TongHocSinh</b> học sinh</h4>
            <div class="m-t-25">

                @using (Html.BeginForm("DanhSachHocSinhPhuTrachDay", "Lop", FormMethod.Get, new { id = "myForm" }))
                {
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <label>Học kỳ:</label>
                    @Html.DropDownList("hocky", ViewBag.hocky as SelectList, new { onchange = "this.form.submit();" })
                    if (!string.IsNullOrEmpty(Request.QueryString["idlop"]))
                    {
                        <input type="hidden" name="idlop" value="@Request.QueryString["idlop"]" />
                    }

                    if (!string.IsNullOrEmpty(Request.QueryString["idmh"]))
                    {
                        <input type="hidden" name="idmh" value="@Request.QueryString["idmh"]" />
                    }
                }
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tên học sinh</th>
                                <th scope="col">Điểm miệng</th>
                                <th scope="col">Điểm 15 phút</th>
                                <th scope="col">Điểm 1 tiết</th>
                                <th scope="col">Điểm thi</th>
                                <th scope="col">Điểm TBM</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                i++;
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@item.HOCSINH.TenHS</td>
                                    @Html.Action("NhapDiem", "QuanLyDiem", new { id = item.MaBD })
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <a href="@Url.Action("Index","Lop", new {id = user.MaGV})">Xem danh sách học sinh</a>
            </div>
        </div>
    </div>

    if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">@ViewBag.SuccessMessage</div>
    }
}
else
{
    <div class="card" style="margin-top: 75px;">
        <div class="card-body">
            <div style="text-align: center;">
            </div>
            <div class="m-t-25">

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">LỚP NÀY HIỆN TẠI CHƯA CÓ HỌC SINH</th>

                            </tr>
                        </thead>


                    </table>
                </div>
                <a href="@Url.Action("Index","Lop", new {id = user.MaGV})">Quay lại danh sách học sinh</a>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        // Lưu địa chỉ URL khi giá trị của dropdown list thay đổi
        $('#hocky').change(function () {
            var selectedValue = $(this).val();
            var returnUrl = $('#returnUrl').val();

            // Thêm hoặc cập nhật tham số hocky vào địa chỉ URL
            var newUrl = updateQueryStringParameter(returnUrl, 'hocky', selectedValue);

            // Chuyển hướng đến địa chỉ URL mới
            window.location.href = newUrl;
        });

        // Hàm cập nhật tham số trong địa chỉ URL
        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else {
                return uri + separator + key + "=" + value;
            }
        }
    });
</script>
    