@model QLPhoThong.Models.GIAOVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>GIAOVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="card" style=" margin-top: 75px;">
            <div class="card-body">
                <h4 class="card-title">XÓA GIÁO VIÊN</h4>
                <h2 style="color:red">@ViewBag.ThongBao</h2>
                <div class="table-responsive">
                    <table class="product-info-table m-t-20">
                        <tbody>
                            <tr>
                                <td>Tên giáo viên:</td>
                                <td>
                                    @Html.DisplayFor(model => model.TenGV)
                                </td>
                            </tr>
                            <tr>
                                <td>Ngày sinh:</td>
                                <td>
                                    @Html.DisplayFor(model => model.NgaySinh)
                                </td>
                            </tr>
                            <tr>
                                <td>Số điện thoại:</td>
                                <td>
                                    @Html.DisplayFor(model => model.SDT)
                                </td>
                            </tr>
                            <tr>
                                <td>Địa chỉ:</td>
                                <td>
                                    @Html.DisplayFor(model => model.Diachi)
                                </td>
                            </tr>
                            <tr>
                                <td>Giới tính:</td>
                                <td>
                                    @Html.DisplayFor(model => model.GioiTinh)
                                </td>
                            </tr>
                            <tr>
                                <td>Gmail:</td>
                                <td>
                                    @Html.DisplayFor(model => model.Gmail)
                                </td>
                            </tr>
                            <tr>
                                <td>Trạng thái:</td>
                                <td>
                                    @Html.DisplayFor(model => model.TrangThai)
                                </td>
                            </tr>
                            <tr>
                                <td>Hình ảnh:</td>
                                <td>
                                    <img src="~/Areas/Admin/Images/ImagesTeacher/@Model.Thumb" style="max-width: 60px" />
                                </td>
                            </tr>
                            <tr>
                                <td>Tên học sinh:</td>
                                <td>
                                    @Html.DisplayFor(model => model.TenGV)
                                </td>
                            </tr>
                            <tr>
                                <td>Tên dân tộc:</td>
                                <td>
                                    @Html.DisplayFor(model => model.DanToc.TenDanToc)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
