@model QLPhoThong.Models.GIAOVIEN

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>



<div class="card">
    <div class="card-body">
        <h4 class="card-title">Thông tin Giáo Viên</h4>
        <div class="table-responsive">
            <table class="product-info-table m-t-20">
                <tbody>
                    <tr>
                        <td>Mã Giáo Viên :</td>
                        <td class="text-dark font-weight-semibold">@Html.DisplayFor(model => model.MaGV)</td>
                    </tr>
                    <tr>
                        <td>Tên giáo viên:</td>
                        <td>@Html.DisplayFor(model => model.TenGV)</td>
                    </tr>
                    <tr>
                        <td>Ngày sinh:</td>
                        <td>@Html.DisplayFor(model => model.NgaySinh)</td>
                    </tr>
                    <tr>
                        <td>Số điện thoại:</td>
                        <td>@Html.DisplayFor(model => model.SDT)</td>
                    </tr>
                    <tr>
                        <td>Địa chỉ:</td>
                        <td>@Html.DisplayFor(model => model.Diachi)</td>
                    </tr>
                    <tr>
                        <td>Tên môn phụ trách:</td>
                        <td>@Html.DisplayFor(model => model.MONHOC.TenMH)</td>
                    </tr>
                    <!--không đụng-->
                    <tr>
                        <td>Status:</td>
                        <td>
                            <span class="badge badge-pill badge-cyan">In Stock</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>  
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaGV }) |
    @Html.ActionLink("Back to List", "Index")
</p> 