@model IEnumerable<QLPhoThong.Models.GIAOVIEN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}

<div class="card" style="margin-top:60px">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                    </div>
                    <div class="m-b-10">
                        <h4 for="file">Tìm kiếm giáo viên</h4>
                        <input type="text" id="searchInput" placeholder="Nhập tên giáo viên cần tìm ..." class="form-control" style="width: 230px;" />
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#ThemGiaoVien" data-url="@Url.Action("Create","GiaoVien")">
                    <i class="anticon anticon-plus-circle m-r-5"></i>
                    <span>Thêm mới giáo viên</span>
                </button>
                @Html.Partial("Create", new QLPhoThong.Models.GIAOVIEN())
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ và Tên</th>
                        <th>Ngày sinh</th>
                        <th>Giới tính</th>
                        <th>Số điện thoại</th>
                        <th>Địa chỉ</th>
                        <th>Dân tộc</th>
                        <th>Gmail</th>
                        <th>Trạng thái dạy</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td>
                                #@i
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img class="img-fluid rounded" src="~/Areas/Admin/Images/ImagesTeacher/@item.Thumb" style="max-width: 60px" alt="">
                                    <h6 class="m-b-0 m-l-10">@item.TenGV</h6>
                                </div>
                            </td>
                            <td>@string.Format("{0:dd-MM-yyyy}", item.NgaySinh)</td>
                            <td>@item.GioiTinh</td>
                            <td>@item.SDT</td>
                            <td>@Html.Raw(item.Diachi)</td>
                            <td>@item.DanToc.TenDanToc</td>
                            <td>@item.Gmail</td>
                            <td>@item.TrangThai</td>
                            <td class="text-right">
                                <button class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" data-toggle="modal" data-target="@("#Edit-"+item.MaGV)" data-url="@Url.Action("Edit","GiaoVien", new {id = item.MaGV})">
                                    <i class="anticon anticon-edit"></i>
                                </button>
                                @Html.Partial("Edit", item)
                                <a href="@Url.Action("Delete","GiaoVien", new {id = item.MaGV})">
                                    <button class="btn btn-icon btn-hover btn-sm btn-rounded">
                                        <i class="anticon anticon-delete"></i>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <ul class="pagination" id="pagination"></ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchText = $(this).val().toLowerCase();

            $('.e-commerce-table tbody tr').each(function () {
                var teacherName = $(this).find('td:eq(1)').text().toLowerCase(); 
                var isMatch = teacherName.includes(searchText);
                $(this).toggle(isMatch);
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        var itemsPerPage = 10;
        var items = $('.e-commerce-table tbody tr');
        var numberOfItems = items.length;
        var numberOfPages = Math.ceil(numberOfItems / itemsPerPage);

        for (var i = 1; i <= numberOfPages; i++) {
            $('#pagination').append(`<li class="page-item"><a class="page-link" href="#" data-page="${i}">${i}</a></li>`);
        }

        showPage(1);

        $('#pagination a').on('click', function (e) {
            e.preventDefault();
            var page = $(this).data('page');
            showPage(page);
        });

        function showPage(pageNumber) {
            var startIndex = (pageNumber - 1) * itemsPerPage;
            var endIndex = startIndex + itemsPerPage;

            items.hide();
            items.slice(startIndex, endIndex).show();

            $('#pagination li').removeClass('active');
            $('#pagination li:eq(' + (pageNumber - 1) + ')').addClass('active');
        }
    });
</script>