@model QLPhoThong.Models.DIEM


@using (Html.BeginForm("NhapDiem", "QuanLyDiem", FormMethod.Post, new { id = "diemForm" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MaBD)
    @Html.HiddenFor(model => model.MaHS)
    @Html.HiddenFor(model => model.MaMH)
    @Html.HiddenFor(model => model.MaHK)
    @Html.HiddenFor(model => model.MaNH)
    <td><input type="text" name="DiemMieng" value="@Model.DiemMieng" oninput="validateInput(this)" /></td>
    <td><input type="text" name="Diem15p" value="@Model.Diem15p" oninput="validateInput(this)" /></td>
    <td><input type="text" name="Diem1Tiet" value="@Model.Diem1Tiet" oninput="validateInput(this)" /></td>
    <td><input type="text" name="DiemThi" value="@Model.DiemThi" oninput="validateInput(this)" /></td>
    <td>@String.Format("{0:N1}", Model.DiemTB)</td>
    <button type="submit" class="btn btn-primary" id="btnLuu" style="display: none;">Lưu</button>

}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('diemForm').addEventListener('keyup', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                document.getElementById('btnLuu').click();
            }
        });
    });

    function validateInput(input) {
        var value = input.value;

        if (isNaN(value) || parseFloat(value) < 0 || parseFloat(value) > 10) {
            input.value = '';
        }
    }
</script>
