@model QLPhoThong.Models.DIEM


@using (Html.BeginForm("NhapDiem", "QuanLyDiem", FormMethod.Post, new { id = "diemForm" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MaBD)
    @Html.HiddenFor(model => model.MaHS)
    @Html.HiddenFor(model => model.MaMH)
    @Html.HiddenFor(model => model.MaHK)
    @Html.HiddenFor(model => model.MaNH)
    <td><input type="text" class="form-control" name="DiemMieng" value="@Model.DiemMieng" placeholder="Nhập điểm ..." oninput="validateInput(this)"></td>
    <td><input type="text" class="form-control" name="Diem15p" value="@Model.Diem15p" placeholder="Nhập điểm ..." oninput="validateInput(this)"></td>
    <td><input type="text" class="form-control" name="Diem1Tiet" value="@Model.Diem1Tiet" placeholder="Nhập điểm ..." oninput="validateInput(this)"></td>
    <td><input type="text" class="form-control" name="DiemThi" value="@Model.DiemThi" placeholder="Nhập điểm ..." oninput="validateInput(this)"></td>
    if (Model.DiemTB < 5)
    {
        <th scope="row" style="text-align:center; color:red;">@String.Format("{0:N1}", Model.DiemTB)</th>
    }
    else
    {
        <th scope="row" style="text-align:center;">@String.Format("{0:N1}", Model.DiemTB)</th>
    }

    <button type="submit" class="btn btn-primary" id="btnLuu" style="display: none;">Lưu</button>

}
@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">@ViewBag.SuccessMessage</div>
}

<script>

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('diemForm').addEventListener('keyup', function (e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                document.getElementById('btnLuu').click();
            }
        });
    });

    function validateInput(input) {
        var value = input.value;

        if (isNaN(value) || parseFloat(value) < 0 || parseFloat(value) > 10) {
            input.value = '';
        }
    }
</script>
