@model QLPhoThong.Models.DIEM

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MaBD)
    @Html.HiddenFor(model => model.MaHS)
    @Html.HiddenFor(model => model.MaMH)
    @Html.HiddenFor(model => model.MaHK)
    @Html.HiddenFor(model => model.MaNH)
    <div class="card-body">


        <h4>Bảng điểm học kỳ 1</h4>



        <div class="m-t-25">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Điểm miệng</th>
                            <th scope="col">Điểm 15 phút</th>
                            <th scope="col">Điểm 1 tiết</th>
                            <th scope="col">Điểm Thi</th>
                            <th scope="col">Điểm TBM</th>
                            <th scope="col"><button>Lưu điểm</button></th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th><input type="text" name="DiemMieng" value="@Model.DiemMieng" min="0" max="10" /></th>
                            <th><input type="text" name="Diem15p" value="@Model.Diem15p" min="0" max="10" /></th>
                            <th><input type="text" name="Diem1Tiet" value="@Model.Diem1Tiet" min="0" max="10" /></th>
                            <th><input type="text" name="DiemThi" value="@Model.DiemThi" min="0" max="10" /></th>
                            <th>
                                <input type="text" name="diemtbmRounded" value="@String.Format("{0:N1}", Model.DiemTB)" readonly="readonly" />
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
