@model QLPhoThong.Models.KETQUACANAM
<p style="text-align:center;">Kết quả cả năm</p>
<div class="m-t-25">
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Điểm trung bình cả năm</th>
                    @if (Model.TBMCN == null)
                    {
                        <th scope="col">Chưa xét</th>
                    }

                    else
                    {
                        <th scope="col"><b>@String.Format("{0:N1}", Model.TBMCN)</b></th>
                    }
                </tr>
                <tr>
                    <th scope="col">Học lực cả năm</th>
                    @if (Model.HocLuc == null)
                    {
                        <th scope="col">Chưa xét</th>
                    }
                    else
                    {
                        <th scope="col">@Model.HocLuc</th>
                    }

                </tr>
                <tr>
                    <th scope="col">Hạnh kiểm cả năm</th>
                    @if (Model.HanhKiem == null)
                    {
                        <th scope="col">Chưa xét</th>
                    }
                    else
                    {
                        <th scope="col">@Model.HanhKiem</th>
                    }
                </tr>
                <tr>
                    <th scope="col">Xếp loại cả năm</th>
                    @if (Model.XepLoai == null)
                    {
                        <th scope="col">Chưa xét</th>
                    }
                    else
                    {
                        <th scope="col">@Model.XepLoai</th>
                    }
                </tr>
                <tr>
                    <th scope="col">Kết quả cả năm</th>
                    @if (Model.TrangThai == null)
                    {
                        <th scope="col">Chưa xét</th>
                    }
                    else
                    {
                        <th scope="col">@Model.TrangThai</th>
                    }
                </tr>
            </thead>
        </table>
    </div>
</div>