@model PagedList.IPagedList<QLPhoThong.Models.DIEM>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
<table class="table">

    <thead>
        <tr>
            <th scope="col">Mã Bảng Điểm</th>
            <th scope="col">Điểm Miệng</th>
            <th scope="col">Điểm 15p</th>
            <th scope="col">Điểm 1 tiết</th>
            <th scope="col">Điểm thi</th>
            <th scope="col">Mã Học Sinh</th>
            <th scope="col">Mã Môn Học</th>
            <th scope="col">Mã Học kỳ</th>
            <th scope="col">Điểm Trung Bình</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@Html.DisplayFor(modelItem => item.MaBD)</th>
                    <td>@Html.DisplayFor(modelItem => item.DiemMieng)</td>
                    <td>@Html.DisplayFor(modelItem => item.Diem15p)</td>
                    <td>@Html.DisplayFor(modelItem => item.Diem1Tiet)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiemThi)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaHS)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaMH)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaHK)</td>
                    <td>@Html.DisplayFor(modelItem => item.DiemTB)</td>


                    <td>
                        @Html.ActionLink("Sửa", "Edit",
                        routeValues: new { id = item.MaHS },
                        htmlAttributes: new { @class = "btn btn-primary btn-tone m-r-5" }) |

                        @Html.ActionLink("Xem", "Details",
                        routeValues: new { id = item.MaHS },
                        htmlAttributes: new { @class = "btn btn-info btn-tone m-r-5" }) |

                        @Html.ActionLink("Xóa", "Delete",
                        routeValues: new { id = item.MaHS },
                        htmlAttributes: new { @class = "btn btn-danger btn-tone m-r-5" })

                    </td>
                </tr>
            }
        }


    </tbody>
</table>
    </div>
<br />
<!-- Thêm mã phân trang -->
<br />
<div class="row">
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
        @using (Html.BeginForm("Index", "Diem", FormMethod.Get))
        {
            <p>
                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
            </p>
        }
    </div>
    <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
        Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
</div>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, size = ViewBag.currentSize }))
<!-- Kết thúc -->
