@model QLPhoThong.Models.DANHMUCHANHKIEM

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DANHMUCHANHKIEM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDMHK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDMHK)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemToiDa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemToiDa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDMHK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
